---
- hosts: all
  vars:
    ansible_os_platform: "linux"
    become_to_install: "true"
    ansible_become_method: "sudo"
  vars_prompt:
    - name: ansible_become_pass
  pre_tasks:
    - name: Install ansible galaxy collections
      ansible.builtin.shell: ansible-galaxy collection install -r requirements.yml
      tags: [always]
    - ansible.builtin.include_vars: secrets.enc
      tags: [always]
    - ansible.builtin.package_facts:
        manager: auto
      tags: [always]
    - set_fact:
        ansible_become_exe: "{{ 'sudo.ws' if ansible_facts.packages['sudo-rs'] is defined else 'sudo' }}"
      tags: [always]
  roles:
    - { role: "zsh", tags: "zsh" }
    - { role: "age", tags: "age" }
    - { role: "gpg", tags: "gpg" }
    - { role: "argonaut", tags: "argonaut" }
    - { role: "dash", tags: "dash" }
    - { role: "git", tags: "git" }
    - { role: "fd", tags: "fd" }
    - { role: "fzf", tags: "fzf" }
    - { role: "ripgrep", tags: "ripgrep" }
    - { role: "lazygit", tags: "lazygit" }
    - { role: "neovim", tags: "neovim" }
    - { role: "alacritty", tags: "alacritty" }
    - { role: "asdf", tags: "asdf" }
    - { role: "tmux", tags: "tmux" }
    - { role: "bat", tags: "bat" }
    - { role: "eza", tags: "eza" }
    - { role: "golangci-lint", tags: "golangci-lint" }
    - { role: "pulumi", tags: "pulumi" }
    - { role: "k9s", tags: "k9s" }
    - { role: "texlive", tags: "texlive" }
    - { role: "opencode", tags: "opencode" }
    - { role: "zotero", tags: "zotero" }
      #    - {role: 'i3', tags: 'i3'}
