---
- name: Setup latexmk task for OS
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ansible_distribution|lower|replace(' ', '_')}}.yml"
        - "{{ansible_os_platform|lower|replace(' ', '_')}}.yml"
      paths:
        - "vars"

- name: install texlive
  become: true
  package:
    name: "{{ packages }}"
    state: present

- name: Symlink config
  file:
    src: "{{ role_path + '/files/latexmkrc' }}"
    dest: "~/.latexmkrc"
    state: link
