---
- name: Setup asdf task for OS
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ansible_distribution|lower|replace(' ', '_')}}.yml"
        - "{{ansible_os_platform|lower|replace(' ', '_')}}.yml"
      paths:
        - "vars"

- name: install go deps
  become: true
  when: go_deps is defined and (go_deps|length>0)
  ansible.builtin.package:
    name: "{{ go_deps }}"
    state: present

- name: install ruby deps
  become: true
  when: ruby_deps is defined and (ruby_deps|length>0)
  package:
    name: "{{ ruby_deps }}"
    state: present

- name: install php deps
  become: true
  when: php_deps is defined and (php_deps|length>0)
  package:
    name: "{{ php_deps }}"
    state: present

- name: Download asdf
  get_url:
    url: "https://github.com/asdf-vm/asdf/releases/download/v0.18.0/asdf-v0.18.0-linux-amd64.tar.gz"
    dest: "/tmp/asdf-linux-amd64.tar.gz"

- name: Install asdf
  become: true
  ansible.builtin.shell: |
    tar xf /tmp/asdf-linux-amd64.tar.gz -C /tmp asdf
    mkdir -p /home/jdollar/.asdf/bin
    cp /tmp/asdf /home/jdollar/.asdf/bin/asdf

- name: generate template files
  ansible.builtin.template:
    src: "{{ role_path }}/files/{{ item.name }}.j2"
    dest: "{{ role_path }}/files/{{ item.destination }}/{{ item.name }}.generated"
    #dest: "{{ zshrc_dir }}/asdf.zsh"
    mode: "{{ 'u=rx' if '.zsh' in item.name else 'u=rw' }}"
  loop:
    - name: asdf.zsh
      destination: zshrc.d
    - name: gradle.properties
      destination: .

- name: find asdf config files
  find:
    paths: "{{ role_path + '/files' }}"
    patterns:
      - asdfrc
      - tool-versions
      - plugin-versions
      - default-golang-pkgs
    depth: 1
    file_type: any
  register: asdf_role_files

- name: Symlink config
  file:
    src: "{{ item.path }}"
    dest: "~/.{{ item.path.split('/')[-1] }}"
    state: link
  loop: "{{ asdf_role_files.files }}"

- name: Symlink gradle.properties
  file:
    src: "{{ role_path + '/files/gradle.properties.generated' }}"
    dest: "~/gradle.properties"
    state: link

- include_tasks:
    file: roles/common/tasks/zsh-file-symlink.yml

- name: configure homelab goproxy
  ansible.builtin.lineinfile:
    create: true
    mode: 'u+rwx'
    path: "~/.config/zsh/env.d/asdf-go.private.zsh"
    line: "export GOPROXY=https://{{ homelab_nexus_url }}/repository/goproxy/,direct"

- name: install asdf plugin manager
  shell: "source ~/.zshrc && asdf plugin add asdf-plugin-manager https://github.com/asdf-community/asdf-plugin-manager.git"
  register: result
  failed_when: result.rc != 0 and item.name not in result.stderr and "already added" not in result.stderr
  args:
    executable: /bin/zsh

- name: install globally defined plugin manager
  shell: source ~/.zshrc && asdf install asdf-plugin-manager && asdf-plugin-manager add-all
  notify: "asdf : global asdf install"
  args:
    executable: /bin/zsh
