---
- name: install zsh
  become: "{{ become_to_install }}"
  package:
    name: zsh
    state: present

- name: Create config directory
  file:
    path: "{{ zsh_config_dir }}"
    state: directory

- name: create config folders
  file:
    path: "{{ zsh_config_dir }}/{{ item }}"
    state: directory
  loop:
    - env.d
    - alias.d
    - profile.d
    - plugins.d
    - zshrc.d

- include_tasks:
    file: roles/common/tasks/zsh-file-symlink.yml

- name: Create netrc
  ansible.builtin.template:
    src: "{{ role_path }}/files/netrc.j2"
    dest: "{{ role_path }}/files/netrc.generated"
    mode: 0o600

- name: find role home files
  find:
    paths: "{{ role_path + '/files' }}"
    patterns:
      - zshrc
      - zprofile
      - zlogin
      - zshenv
      - p10k.zsh
      - netrc.generated
    depth: 1
    file_type: file
  register: zsh_role_home_files

- name: Symlink home files
  file:
    src: "{{ item.path }}"
    dest: "~/.{{ item.path.split('/')[-1] | regex_replace('.generated', '') }}"
    state: link
  loop: "{{ zsh_role_home_files.files }}"

- name: Make zsh user shell
  become: true
  user:
    name: "{{ lookup('env', 'USER') }}"
    shell: /bin/zsh

- include_tasks:
    file: starship.yml
