---
- name: Register a variable, ignore errors and continue
  ansible.builtin.command: taws --version
  register: has_taws
  ignore_errors: true

- name: download argocd cli and install
  when: has_taws is failed
  block:
    - name: Download taws
      get_url:
        url: "https://github.com/huseyinbabal/taws/releases/latest/download/taws-x86_64-unknown-linux-musl.tar.gz"
        dest: "/tmp/taws-x86_64.tar.gz"

    - name: Install taws
      become: true
      ansible.builtin.shell: |
        tar xf /tmp/taws-x86_64.tar.gz -C /tmp taws
        mv /tmp/taws /usr/local/bin/
        rm /tmp/taws-x86_64.tar.gz
