[include]
        path = .gitconfig.gpgconfig
[core]
        excludesfile = {{ home_dir }}/.gitignore_global
        editor = nvim
[commit]
        template = {{ home_dir }}/.stCommitMsg
        gpgsign = true
[gpg]
        program = {{ gpg_bin }}
[merge]
        conflictstyle = diff3
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
