---
- import_tasks: debian.yml
  when: ansible_facts['distribution'] == 'Debian'

- import_tasks: opensuse_tumbleweed.yml
  when: ansible_facts['distribution'] == 'openSUSE Tumbleweed'

- name: install gh cli
  become: true
  package:
    name: "gh"
    state: present

- name: Ensure GH_TOKEN is present in config file
  ansible.builtin.lineinfile:
    create: true
    mode: 'u+rwx'
    path: "~/.config/zsh/env.d/github.private.zsh"
    line: "export GH_TOKEN={{ gh_token }}"

- name: install gh-dash extension
  shell: source ~/.zshrc && gh extension install dlvhdr/gh-dash
  args:
    executable: /bin/zsh

- name: find config files
  find:
    paths: "{{ role_path + '/files' }}"
    depth: 1
    file_type: any
  register: config_files

- name: Symlink config files
  file:
    src: "{{ item.path }}"
    dest: "~/.{{ item.path.split('/')[-1] }}"
    state: link
  loop: "{{ config_files.files }}"
